.link-board-container {
  position: relative;

  .link-board {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
  
    &:hover { 
      background: #ebebeb;
      color: #555555;
      border-radius: 3px; 
    }
  }
  
  .button-delete-board {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #333;
    font-weight: bold;
    width: 30px;
    height: 30px;

    &:hover {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
}

