.input-save-board {
  margin-top: 3px;
  margin-left: 5px;
  padding: 2px;
  width: 150px;
  height: 21px;
}
.header {
  .button-share-input {
    margin-top: 3px;
    height: 25px;
    width: 30%;
  }
}
