.form-new-board {
  margin-top: 10px;

  .input-new-board {
    margin-left: 50%;
    transform: translate(-50%);
  }
  
  .button-new-board {
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

