.task {
  position: relative;
  width: 70%;
  min-height: 30px;
  background-color: aliceblue;
  margin: 10px auto;
  border-radius: 4px;
  color: #555555;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;

  .title-task {
    font-weight: bold;
    background-color: #fddc9e;
  }

  .button-delete-task {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 2px;
    right: 2px;
  }
}